AndroidManifest.xml
build.xml
project.properties
res/values/strings.xml
res/mipmap-hdpi/ic_sisyphus_launcher.png
res/mipmap-mdpi/ic_sisyphus_launcher.png
res/mipmap-xhdpi/ic_sisyphus_launcher.png
res/mipmap-xxhdpi/ic_sisyphus_launcher.png
res/mipmap-xxxhdpi/ic_sisyphus_launcher.png
assets/assets_packed
